<header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
                   
    
    <div id="header" class="nav-collapse">
            <div class="row clearfix">
                <div class="col-1">
    
                    <!--Logo-->
                    <div id="logo">
    
                        <!--Logo that is shown on the banner-->
                        <img src="../assets/images/logo-3.png" id="banner-logo" alt="Landing Page"/>
                        <!--End of Banner Logo-->
    
                        <!--The Logo that is shown on the sticky Navigation Bar-->
                        <img src="../assets/images/logo-3.png" id="navigation-logo" alt="Landing Page"/>
                        <!--End of Navigation Logo-->
    
                    </div>
                    <!--End of Logo-->
    
                    <aside>
                       <app-user-profile-icon [profileImage]="profileImage"></app-user-profile-icon>
                        <app-social></app-social>
                        <!--End of Social Icons in Header--> 
                    </aside>
    
                    <!--Main Navigation-->
                    <app-nevigation></app-nevigation>   
                    <!--End of Main Navigation-->
    
                </div>
            </div>
        </div><!--End of Header-->
</header>

