<div class="pricing-block featured col-3 wow fadeInUp" data-wow-delay="0.4s">
    <div class="pricing-block-content">
        <h3>{{plan.title}}</h3>
        <p class="pricing-sub">{{plan.subTitle}}</p>
        <div class="pricing">
            <div class="price"><span>$</span>{{plan.rate}}</div>
            <p>{{plan.info}}</p>
        </div>
        <ul>
            <li>{{plan.downloads}}</li>
            <li>{{plan.extension}}</li>
            <li>{{plan.tutorial}}</li>
            <li>{{plan.support}}</li>
            <li>{{plan.update}}</li>
        </ul>
        <a href="{{plan.buttonLink}}" class="button">{{plan.buttonText}}</a>
    </div>
</div>
