.pagination li{
    display: inline-block;
    background-color: white;
    border: 1px solid #d2b356;
    margin:5px;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

.pagination a.active{
    background-color: #d2b356;
    color: white;
}

.pagination li.active{
    background-color: #d2b356;
}
.pagination li.disabled{
    display: none;
    cursor: default;
}

